{% extends "Site.html" %}

{% block nomeusuario %} {{nomeusuario }} {% endblock %}

 {% block conteudo %}

  <h1 align="center">SISTEMA DE CONTROLE FINANÇEIRO DOMÉSTICO</h1>
  <hr>

  <div class="card text-dark bg-ligh">
    
    <div class="card-header"><b>Descrição do Sistem</b>a</div>
    
    <div class="card-body">
      
      <h5 class="card-title">Como usar o sistema</h5>
      
      <p class="card-text">O Sistema de controle de finanças domestica é desenvolvido em ambiente de aprendizado e de conteúdo pedagógico, portanto advertimos que não deve ser lançados informações pessoais e nem dados sensivéis. </p>
      
      <p class="card-text">O sistema é composto por três modulos principais, uma entidade de usuários, outra de contas e uma de lançamentos. </p>
      
    </div>
    
  </div>

   <hr>

   <div class="text-center">
     
        <img src="" class="rounded" alt="..." height="500" width="1100">
     
   </div>
   
 {% endblock %}
	   