{% extends "Site.html" %}

{% block nomeusuario %} {{nomeusuario }} {% endblock %}

 {% block conteudo %}

  <h1 align="center">SISTEMA DE CONTROLE FINANÇEIRO DOMÉSTICO</h1>
  <hr>

  <div class="card text-dark bg-ligh">
    
    <div class="card-header"><b>Descrição do Sistem</b>a</div>
    
    <div class="card-body">
      
      <h5 class="card-title">Como usar o sistema</h5>
      
      <p class="card-text" align="justify">O Sistema de controle de finanças domestica é desenvolvido em ambiente de aprendizado e de conteúdo pedagógico, portanto advertimos que não deve ser lançados informações pessoais e nem dados sensivéis. </p>
      
      <p class="card-text" align="justify">O sistema é composto por três modulos principais, uma entidade de usuários, outra de contas e uma de lançamentos. </p>

      <p class="card-text" align="justify">Para usar o sistema é necessário fazer o cadastro. </p>

       <p class="card-text" align="justify">Depois cadastrar Contas de Receitas e Contas de Despesas. Uma vez que as contas estão cadastradas fazer os laçamentos da movimentação de recebimentos de valores e de pagamentos de despesas. </p>

      <hr>

      <p class="card-text" align="justify"><b>Exemplo de contas de Receitas</b>  </p>

      <p class="card-text" align="justify"> SALARIOS RECEBIDOS </p>
      <p class="card-text" align="justify"> DOAÇÕES RECEBIDAS </p>
      <p class="card-text" align="justify"> TRANSF. RECEBIDAS </p>

      <p class="card-text" align="justify"><b>Exemplo de contas de Despesas:</b>  </p>
      <p class="card-text" align="justify"> ENERGIA </p>
      <p class="card-text" align="justify"> INTERNET </p>
      <p class="card-text" align="justify"> ALIMENTAÇÃO </p>      
      
      
    </div>
    
  </div>

   <hr>

   <div class="text-center">
     
        <img src="" class="rounded" alt="..." height="500" width="1100">
     
   </div>
   
 {% endblock %}
	   